.JSNodesContainer {
    height: calc(100vh - var(--titlebar-height) - 42px);
    overflow-x: hidden;
    overflow-y: hidden;
    padding: 10px;
    box-sizing: border-box;
    background-color: #10191f;
    padding-top: 24px;
    position: relative;
}

.JSNodesNode {
    background-color: #182431;
    position: absolute;
    top: calc(var(--top) * var(--scale) + var(--offsetY));
    left: calc(var(--left) * var(--scale) + var(--offsetX));
    user-select: none;
    width: max-content;
    max-width: 200px;
    font-size: 16px;
    transform: scale(var(--scale));
    transform-origin: top left;
}
.JSNodesNodeArea {
    height: calc(100% + 10px);
    margin: -10px;
    margin-top: 0;
}
.JSNodesNodeTitle {
    background-color: #0c151b;
    color: #fff;
    width: calc(100% - 20px);
    padding: 3px 10px;
}
.JSNodesNodeContent {
    color: #fff;
    width: calc(100% - 20px);
    padding: 10px;
    position: relative;
}
.JSNodesNodeInputs {
    position: absolute;
    width: 0px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    left: 0;
    top: 0;
    height: 100%;
}
.JSNodesNodeInput {
    width: 10px;
    height: 10px;
}

.JSNodesNodeOutputs {
    position: absolute;
    width: 0px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    right: 0;
    top: 0;
    height: 100%;
}
.JSNodesNodeOutput {
    background-color: #ff0000;
    width: 10px;
    height: 10px;
}

.JSNodeBlue {
    background-color: #0066ff;
}
.JSNodeGreen {
    background-color: #00ff00;
}
.JSNodeRed {
    background-color: #ff0000;
}
.JSNodeOrange {
    background-color: #ff9900;
}
.JSNodeGray {
    background-color: #9a9a9a;
}

.JSNodesDropdown {
    height: 24px;
    overflow-y: hidden;
    position: absolute;
    background-color: #182431;
    margin: -10px;
    width: calc(100% + 20px);
    z-index: 100;
    top: 10px;
}
.JSNodesDropdownItem {
    width: calc(100% - 20px);
    height: 24px;
    cursor: pointer;
    padding: 0 10px;
}
.JSNodesDropdownItem:hover {
    background-color: #1c2b3f;
}
.JSNodesDropdown:hover {
    height: auto;
}
.JSNodesDropdownIcon {
    position: absolute;
    top: 5px;
    left: calc(100% - 35px);
}
.JSNodesDropdownIcon:hover {
    color: #ccc;
}

.JSNodesOverlayCanvas {
    position: absolute;
    top: 24px;
    left: 0;
    width: 100%;
    height: calc(100% - 24px);
    z-index: 1000;
    pointer-events: none;
}

.JSNodesKey {
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 5px;
    z-index: 1001;
    background-color: #00000077;
}
.JSNodesKeyItem {
    display: block;
}
.JSNodesKeyItemColor {
    display: inline-block;
    width: 16px;
    height: 16px;
    margin: 0 2px;
}
.JSNodesKeyItemTitle {
    display: inline-block;
    margin-left: 4px;
    font-size: 16px;
}
.JSNodesKeyItemTitle:hover {
    color: #ccc;
}
.JSNodesKeyItemTitle:active {
    color: #999;
}
.JSNodesKeyItemToggled {
    color: #aaa;
}