{
    "plugins": [
      ["@dr.pogodin/react-css-modules", {
        "webpackHotModuleReloading": true,
        "handleMissingStyleName": "warn",
        "autoResolveMultipleImports": true,
        "generateScopedName": "[path]___[name]__[local]___[hash:base64:6]"
      }]
    ]
  }