/* make better, maybe don't even use grid? At different resolutions, this looks bad/ */
.menugrid {
    display: inline-block;
    width: 100vw;
    height: 100%;
    position: relative;
}
.menutop {
    display: inline-block;
    width: 100vw;
    height: 100px;
    background-color: #111f29;
    top: 0;
    left: 0;
    position: absolute;
}
.menuleft {
    display: inline-block;
    height: calc(100% - 100px);
    width: 200px;
    background-color: #081722;
    top: 100px;
    left: 0;
    position: absolute;
    text-align: left;
}
.menusites {
    display: inline-flex;
    height: calc(100% - 100px);
    width: calc(100vw - 200px);
    background-color: #20333f;
    top: 100px;
    left: 200px;
    position: absolute;
    text-align: left;
    flex-wrap: wrap;
    align-content: flex-start;
}
.menusite {
    display: inline-block;
    padding: 5px;
    width: min(380px, max(calc(50% - 35px), 300px));
    box-shadow: 3px 3px #1a2933;
    height: 75px;
    border-radius: 10px;
    background-color: #104b63;
    margin: 10px;
    position: relative;
    transition: transform 200ms ease-in-out;
    transition: all 250ms ease;
}
.menusite:hover {
    background-color: #0f475e;
    box-shadow: 4px 4px #1a2933;
    transform: translate(-1px, -1px);
}
.menusite:active {
    background-color: #0c3849;
    box-shadow: 1px 1px #131e25;
    transform: translate(2px, 2px);
}

.menuleftoption {
    display: inline-block;
    padding: 5px;
    width: 100%;
}
.projectText {
    font-size: 25px;
    margin-left: 10px;
}
.projectIcon {
    font-size: 25px;
    margin: 5px;
}
.projectDir {
    font-size: 10px;
    margin-left: 10px;
    position: absolute;
    bottom: 10px;
}
.menuleftoption:hover {
    background-color: #1f2e38;
}
.menuleftoption p {
    margin: 0;
    display: inline-block;
}
.menuleftoption i {
    margin-right: 8px;
}
.menunew {
    display: inline-flex;
    width: min(380px, max(calc(50% - 35px), 300px));
    border: 2px dashed #fff;
    height: 75px;
    border-radius: 10px;
    margin: 10px;
    align-items: center;
    justify-content: center;
}
.newProjectIcon {
    font-size: 25px;
    margin: 5px;
}