:root {
    --next-button-width: 10rem;
    --next-button-height: 3rem;
}
.templates {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin: 50px;
}
.template {
    background-color: #19554b;
    box-shadow: 5px 5px #134139;
    padding: 5px;
    border-radius: 10px;
    margin: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
.template:hover {
    background-color: #1a584e;
    box-shadow: 7px 7px #15463e;
    transform: translate(-2px, -2px);
}
.template:active {
    background-color: #164942;
    box-shadow: 3px 3px #133d38;
    transform: translate(2px, 2px);
}
.templateimage {
    width: 200px;
    height: 200px;
}
.templateimage img {
    width: 100%;
    height: 100%;
    border-radius: 10px;
    user-drag: none;
    -webkit-user-drag: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}
.templatename p {
    font-size: 14px;
    margin: 0;
    color: #bbb;
}
.templatename h1 {
    color: white;
    font-size: 20px;
    font-weight: 600;
    margin: 0;
}
.name {
    width: 60%;
    height: 50px;
    border-radius: 20px;
    border: none;
    outline: none;
    background-color: #274557;
    box-shadow: 4px 4px #1c3f49;
    padding: 5px;
    font-size: 44px;
    text-align: center;
    color: #ccc;
    margin: 20px;
}
.shake {
    animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
    transform: translate3d(0, 0, 0);
    backface-visibility: hidden;
    perspective: 1000px;
}
@keyframes shake {
    10%, 90% {
      transform: translate3d(-1px, 2px, 0px);
    }
    20%, 80% {
      transform: translate3d(2px, -4px, 0px);
    }
    30%, 50%, 70% {
      transform: translate3d(-4px, 4px, 0px);
    }
    40%, 60% {
      transform: translate3d(4px, -1px, 0px);
    }
 }
 .next {
    width: var(--next-button-width);
    height: var(--next-button-height);
    border-radius: 100vh;
    border: none;
    outline: none;
    background-color: #216657;
    color: white;
    font-size: 2em;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin-top: 0;
    transform: translateY(-10px);
    box-shadow: 0px 10px #1d574a;
    margin-top: 30px;
  }
  .next:hover {
    box-shadow: 0px 10px #1e5c4e;
    background-color: #216858;
  }
  .next:active {
    transform: translateY(-5px);
    box-shadow: 0px 5px #1a4e43;
    background-color: #1f5f51;
  }
  .projectIcon {
    margin: 5px;
    font-size: 20px;
    color: #999;
    width: 20px;
  }
  .icons {
    max-width: 60%;
    text-align: left;
  }
  .activeProjectIcon {
    color: #fff;
  }
  .leaveIcon {
    position: absolute;
    left: 0;
    top: 24px;
    margin: 10px;
    font-size: 30px;
  }