<!DOCTYPE HTML>
<html lang="en">
<head>
    <meta name="google-site-verification" content="88VboZ4vkIhK76ydjdQAcnGxe4c95zmoUWIifsiUmb0" />
    <link rel="stylesheet" href="main.css">
    <script type="text/javascript" src="navbar.js"></script>
    <meta charset="UTF-8">
    <!-- font -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <meta name="description" content="{{name}}">
    <link href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;0,900;1,400;1,700;1,900&display=swap" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{name}}</title>
</head>
<body>
    <div class="toparea">
        <h1>{{name}}</h1>
    </div>

    <div class="navbar" id="navbar">
        <a href="/"><h2>{{name}}</h2></a>
    </div>

    <main>
        <div class="post">
            <a><h3 class="author">{{user}}</h3></a>
            <i><h4 class="time">July 10, 2021</h4></i>
            <a><h1 class="title">Lorem ipsum dolor sit.</h1></a>
            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Autem consequatur exercitationem earum explicabo illum dolorem qui, laboriosam nam voluptates id, fugit architecto facere? Corrupti illum recusandae voluptatum, voluptas itaque consequuntur.
            <a><u><i><h4 class="readmore">Continue reading...</h4></i></u></a>
        </div>
        <div class="post">
            <a><h3 class="author">{{user}}</h3></a>
            <i><h4 class="time">July 11, 2021</h4></i>
            <a><h1 class="title">Lorem ipsum dolor sit.</h1></a>
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Maxime eveniet nisi iure, quae aut nemo recusandae quasi fuga aperiam exercitationem?
            <a><u><i><h4 class="readmore">Continue reading...</h4></i></u></a>
        </div>
    </main>
    <footer>
        <h4>You've reached the bottom!</h4>
    </footer>
</body>
</html>