<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Bad CMS for devs</title>
    <!-- links -->
    <script src="https://kit.fontawesome.com/c7ae05441b.js" crossorigin="anonymous"></script>
  </head>
  <body>
    <!-- Actual page content -->
    <div id="root">
      <main>
        <h1>Loading...</h1>
      </main>
    </div>
    <script>
      if(process.env.NODE_ENV === 'development') {
        require('./src/public/menu.js');
      } else {
        require('./menu.js');
      }
    </script>
  </body>
</html>